<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.third_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Code10"></activity>
        <activity android:name=".Code9" />
        <activity android:name=".Code7" />
        <activity android:name=".Code8" />
        <activity android:name=".Code6" />
        <activity android:name=".Code5" />
        <activity android:name=".Code4" />
        <activity android:name=".Code3" />
        <activity android:name=".Code2" />
        <activity android:name=".Code1" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXr9ZuSnbLN9aBENUM9yAPV6mT7zYbWW8" ></meta-data>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>